[submodule "skill/khazix-skills"]
	path = skill/khazix-skills
	url = git@github.com:KKKKhazix/khazix-skills.git
[submodule "skill/seedance-2.0"]
	path = skill/seedance-2.0
	url = git@github.com:Emily2040/seedance-2.0.git
[submodule "skill/animated-voiceover"]
	path = skill/animated-voiceover
	url = git@github.com:s1dashu/animated-voiceover.git
[submodule "skill/xianxia-visual-director"]
	path = skill/xianxia-visual-director
	url = git@github.com:liyue-aigc/xianxia-visual-director.git
[submodule "skill/jianying-editor-skill"]
	path = skill/jianying-editor-skill
	url = git@github.com:luoluoluo22/jianying-editor-skill.git
